<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="~/css/quotes.css" />
        <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
        </script>
        <title>Quotes</title>
    </head>
    <body>
        <h2>Here Are The Awesome Quotes!</h2>

        @foreach (var quote in @ViewBag.allQuotes) {
        <div class="container">
            <div class ="quote-row">
                @quote["quote"]
            </div>
            <div class="user-row">
                @quote["user"] at @quote["created_at"]
            </div>
        </div>
        }

        <a href="index">Back to Form</a>

    </body>
</html>