<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/home.css" />
    <title>Portfolio</title>
</head>

    <body>
        <header>
            @Html.Partial("_Header")
        </header>
        <img src="~/img/self-portrait.jpg" Width="250" Height="250">
        <h2>Welcome to my portfolio home page!</h2>
        <div>
            <h2>About Me</h2>
            <p>I am a software developer in the Dallas area.  I enjoy solving algorithms 
                as well as the creative aspect of designing vivid websites.  I hope you 
                enjoy your visit.
            </p>
        </div>

    </body>
</html>