<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/projects.css" />    
    <title>Projects</title>
</head>
    <body>
        <header>
            @Html.Partial("_Header")
        </header>
        <h1>Projects</h1>
        <div>
            <div class="project-div">
                <h2>Events Calendar</h2>
                <p>This project was built using Ruby on Rails Bootstrap styling library. 
                    It features a login page and allows users to create and delete events and 
                    to join or cancel their attendance.
                </p>
            </div>
            <div class="project-div">
                <h2>Team Manager</h2>
                <p>This project was built using MEAN stack and Materialize styling library.  
                    It allows teams to add and delete players and track their availability for a 
                    particular game.
                </p>
            </div>
            <div class="project-div">
                <h2>Bucket List</h2>
                <p>this project was also built using MEAN stack and does not include any 
                    styling.  It is a fun app which allows users to add items on their 
                    "bucket list" and to check off when completed.
                </p>
            </div>
        </div>
    </body>
</html>