<link rel="stylesheet" href="~/css/index.css">

<div id="container">
    <h1>Register</h1>
    <a href="login">Already registered?</a>
    <form id="register-form">
        <div class="col">
            <div class="input-div">
                <label class="input-label">First Name:</label>
                <input class="form-input" id="first-name">
            </div>
            <div class="input-div">
                <label class="input-label">Last Name:</label>
                <input class="form-input" id="last-name">
            </div>
            <div class="input-div">
                <label class="input-label">Email Address:</label>
                <input class="form-input" id="email-address">
            </div>
            <div class="input-div">
                <label class="input-label">Password:</label>
                <input class="form-input" id="password">
            </div>
            <div class="input-div">
                <label class="input-label">Confirm Password:</label>
                <input class="form-input" id="confirm-password">
            </div>
            <div>
              <input type="submit" value="Submit">
            </div>

        </div>
    </form>

</div>
