#container {
    width: 100%;
    max-width: 1100px;
    margin-left: 5px;
}

.product-container {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 225px;
    padding: 20px 10px 0px 10px;
    margin: 10px 10px;
    border: 3px solid #ccc;
    border-radius: 2px;
    border-style: ridge;
    box-shadow: 5px 5px 5px #ddd;
    line-height: 0;
    text-align: center;
    font-size: .85em;
    color: slategray;
}

.image-container {
    display: block;
    width: 85%;
    margin: auto;
    background-color: rgb(135, 34, 139);
}

.image-container > img {
    max-width: 100%;
    max-height: 100%;
}

.recent-order-p {
    line-height: .35em;
}

#register-h1 {
    margin-left: 5px;
    font-size: 3em;
    font-family: serif;
    line-height: .5em;
    color: #73a08a;
}

.input-div {
    margin: 10px 0 0 10px;
}

.input-label {
    display: inline-block;
    width: 150px;
    color: #73a08a;
    font-family: 'Tangerine', serif;
    font-weight: bold;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.form-input {
    height: 25px;
    width: 200px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
}

input[type="submit"] {
    display: inline-block;
    width: 80px;
    height: auto;
    font-family: sans-serif;
    font-size: .75em;
    padding: 7px 10px;
    margin: 15px 0 0 10px;
    background-color: rgb(115, 177, 168);
    border: 2px solid rgb(50, 94, 77);
    color: rgb(255, 255, 255);
    border-radius: 3px;   
}

input[type="submit"]:hover {
    background-color: rgb(167, 226, 216);
    border: 2px solid rgb(134, 165, 158);
    color: #aaa;
}

#already-registered {
    display: inline-block;
    width: 45%;
    height: 25px;
    margin: 0 0 10px 10px;
    color: #73a08a;
    margin-right: 15px;
    font-family: 'Tangerine', serif;
    font-size: 1.5em;
    font-weight: bold;
}

#already-registered:hover {
    color:  #b7cec3;
}