/*Write all of your CSS here*/
header {
    position: fixed;
    top: 0;
    text-align: center;
    width: 95%;
    max-width: 1100px;
    height: 125px;
    font-family: 'Tangerine', serif;
    font-size: 2.5em;
    color: #7fc2a6;
    background-color: #fff;
    text-shadow: 3px 3px 6px rgb(179, 179, 179);
    line-height: .5em;
    z-index: 1;
}

.header-text-top {
    position: absolute;
    top: 36px;
    left: 10px;
    font-size: 2em;
}

header > h1 {
    display: inline-block;
    z-index: 1;
}

nav {
    position: fixed;
    top: 100px;
    width: 95%;
    max-width: 1100px;
    padding: 15px;
    margin: 25px 10px;
    font-family: 'Sacramento', cursive;
    font-size: 1.5em;
    font-weight: bold;
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
    background-color: #fff;
    z-index: 1;
}

#logout-link {
    float: right;
    margin-right: 15%;
}

nav > div> a {
    margin-left: 10%;
    color: #73a08a;
    text-decoration-line: none;
}

nav > div > a:hover {
    color:  #b7cec3;
}

.body-content {
    position: relative;
    top: 250px;
}

#register-link {
    margin-left: 10px;
}

footer {
    position: relative;
    top: 250px;
    width: 100%;
    max-width: 1100px;
    padding: 20px 0;
    text-align: center;
    font-size: .75em;
    line-height: .50;
    color: #73a08a;
}

footer > p > a {
    color: #73a08a;
}