.container {
    position: relative;
    top: 50px;
    text-align: left;
    margin: auto;
    padding: 15px;
    width: 25%;
    border: 5px solid #000000;
}

.column {
    display: inline-block;
}

.row > label {
    display: inline-block;
    width: 150px;
}

.row > textarea {
    width: 250px;
    height: 75px;
}

h2 {
    text-align: center;    
}

.go-back > a {
    text-decoration: none;
    padding: 5px 25px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #446677;
    color: #ffffff;
    font-size: .7em;
    font-family: sans-serif;

}

.go-back {
    margin-top: 25px;
}