@{
    ViewData["Title"] = "Success Page";
}

<div id="success-status">
    @{
        if (@ViewBag.sanitytest == "Successfully registered!") {
            <h1>@ViewBag.sanitytest</h1>
        } else {
            <h1>There were problems with your submission.</h1>
            <h1>Please try again.</h1>
        }
    }
</div>

<a href="">Back to Form</a>