@{
    ViewData["Title"] = "Message Dashboard";
    Layout="~/Views/Shared/_Layout.cshtml";
}

@using TheWall.Models
@model TheWall.Models.Message

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.js"
        asp-fallback-test="window.jQuery">
</script>

<link rel="stylesheet" type="text/css" href="~/css/dashboard.css">

<h1>Dashboard</h1>
<a href="index">Log Out (Back to main page)</a>

<div id="message-form-div">
    <h3>Post a message:</h3>

    <form id="message-form" asp-controller="Message" asp-action="Dashboard" method="POST">
        <div>
            <textarea id="message-text" asp-for="MessageText"></textarea>            
        </div>
        <div>
            <input class="submit-button" type="submit" Value="Post a Message">            
        </div>
    </form>
</div>

@{
    foreach(var message in @ViewBag.messages) {
        <p>@message["message"]</p>
    }
    <h4>Post a Comment</h4>
    @Html.Partial("_CommentPartial");
}