/*Write all of your CSS here*/
#container {
    margin: 15px 5px 5px 5px;
    width: 900px;
    border: 4px solid black;
}

.div-row {
}

.div-column {
    padding: 5px;
    display: inline-block;
    width: 440px;
    vertical-align: top;
}

label {
    width: 225px;
}