.container {
    text-align: center;
}
.form-container {
    display: inline-block;
    width: 500px;
    height: 200px;
}

.input-row {
    text-align: left;
    border: 3px solid black;
    height: 75px;
}

div.input-row > label,input {
    display: inline-block;
    margin: 20px 0 0 10px;
}

div.input-row > input {
    display: inline-block;
    width: 300px;
}

h1 {
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 7px 15px;
    color: white;
    border-radius: 2px;
    background-color: green;
}

#movies {
    display: inline-block;
    position: relative;
    width: auto;
    margin: auto;
}

#movies > p {
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0;
    border: solid 3px black;
    background-color: slategray;
    color: aliceblue;
}