@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/index.css" />

<h2><em>List of Hiking Trails</em></h2>
<div id="border-div">

</div>

<table id="all-trails">
    <tr id="table-header">
        <th class="trails-col">Trail Name</th>
        <th class="length-col">Trail Length</th>
        <th class="elevation-col">Elevation Change</th>
    </tr>
    @{
        foreach(var trail in @ViewBag.trails) {
            <tr>
                <td class="trails-col"><a href="/showtrail/@trail.Id">@trail.TrailName</a></td>
                <td class="length-col">@trail.TrailLength miles</td>
                <td class="elevation-col">@trail.ElevationChange feet</td>
            </tr>
        }
    }
</table>
<a id="new-trail-link" href="newtrail">Add a new Trail</a>