@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/login.css">

@model WeddingPlanner.Models.User

<div id="upper-border"></div>

<div id="login-container">
    <h1>Login</h1>
    <a href="register">Need to register?</a>
    <form action="Login" method="POST">
        <div class="input-div">
            <label asp-for="Email" class="input-label">Email Address:</label>
            <input asp-for="Email" class="form-input" placeholder="Email Address" name="Email">
        </div>
        <div class="input-div">
            <label asp-for="Password" class="input-label">Password:</label>
            <input asp-for="Password" type="password" class="form-input" placeholder="Password" name="Password">
        </div>
        <div>
            @ViewBag.error
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

<div id="lower-border"></div>