.container {
    text-align: center;
}
.form-container {
    display: inline-block;
    width: 500px;
    height: 200px;
}

.input-row {
    text-align: left;
    border: 3px solid black;
    height: 75px;
}

div.input-row > label,input {
    display: inline-block;
    margin: 20px 0 0 10px;
}

div.input-row > input {
    display: inline-block;
    width: 300px;
}