@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.js"
        asp-fallback-test="window.jQuery">
</script>

<link rel="stylesheet" type="text/css" href="~/css/index.css">

<nav>
        <button id="login-button">Login</button>
        <button id="register-button">Register</button>
</nav>

<div id="login-reg-cell">

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#login-reg-cell").load('@Url.Action("LoginForm", "Home")');
        $('#register-button').click(function () {
            $('#login-reg-cell').load('@Url.Action("RegisterForm", "Home")');
        });
        $('#login-button').click(function () {
            $('#login-reg-cell').load('@Url.Action("LoginForm", "Home")');
        }); 
    });
</script>