<link rel="stylesheet" href="~/css/account.css">

<div id="account-header">
    <h1>Welcome, Username</h1>
    <div id="account-balance-div">
        <label>Current Balance:</label>
        <span>$400.00</span>
    </div>
</div>

<form>
    <label>Deposit/Withdraw:</label>
    <input id="dep-wd">
    <input type="submit" value="Submit">
</form>

<table>
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>$200.00</td>
        <td>Jan 23, 2016</td>
    </tr>
    <tr>
        <td>$-200.00</td>
        <td>Jan 16, 2016</td>
    </tr>
</table>