<link rel="stylesheet" href="~/css/index.css">

@model BankAccounts.Models.RegisterViewModel

<div id="container">
    <h1>Register</h1>
    <a href="login">Already registered?</a>
    <form id="register-form" action="Register" method="POST">
        <div class="col">

            <div class="input-div">
                <label asp-for="FirstName" class="input-label">First Name:</label>
                <input asp-for="FirstName" class="form-input" id="first-name" placeholder="First Name">
            </div>
            <div class="input-div">
                <label asp-for="LastName" class="input-label">Last Name:</label>
                <input asp-for="LastName" class="form-input" id="last-name" placeholder="Last Name">
            </div>
            <div class="input-div">
                <label asp-for="Email" class="input-label">Email Address:</label>
                <input asp-for="Email" class="form-input" id="email-address" placeholder="Email Address">
            </div>
            <div class="input-div">
                <label asp-for="Password" class="input-label">Password:</label>
                <input asp-for="Password" type="password" class="form-input" id="password" placeholder="Password">
            </div>
            <div class="input-div">
                <label asp-for="PasswordConfirmation" class="input-label">Confirm Password:</label>
                <input asp-for="PasswordConfirmation" type="password" class="form-input" id="confirm-password" placeholder="Confirm Password">
            </div>
            <div>
              <input type="submit" value="Submit">
            </div>

        </div>
    </form>

</div>
