<link rel="stylesheet" href="~/css/login.css">

<div id="upper-border"></div>

<div id="login-container">
    <h1>Login</h1>
    <a href="index">Need to register?</a>
    <form>
        <div class="input-div">
            <label class="input-label">Email Address:</label>
            <input class="form-input" placeholder="Email Address">
        </div>
        <div class="input-div">
            <label class="input-label">Password:</label>
            <input class="form-input" placeholder="Password">
        </div>
        <input type="submit" value="Submit">
    </form>

</div>

<div id="lower-border"></div>