<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Commerce</title>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <header>
        <div class="header-text-top">My E-Commerce Website</div>
    </header>
    <nav>
                <a href="index">Dashboard</a>
                <a href="products">Products</a>
                <a href="orders">Orders</a>
                <a href="customers">Customers</a>
                <a href="allcustomers">AllCustomers</a>
                <a href="allproducts">AllProducts</a>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <p>Created by Jesus C. de la Rosa with C#, ASP.NET Core and PostgreSQL.</p>
        <p>Please visit my website at <a href="http://charliedelarosa.com" target="_blank">charliedelarosa.com</a></p>
    </footer>
        
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery">
        </script>
        
        <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
